@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body {
    background-color: #282828;
    margin: 0;
    padding: 0;
    direction: rtl
}

.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            #0A192F 0%,
            #1e2749 25%,
            #01292f 50%,
            #1f385e 100%);
    animation: AnimateBG 20s ease-in-out infinite;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    margin-left: -30px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 0.5rem;
    background-clip: padding-box;
}

.my-masonry-grid_column>div {
    margin-bottom: 1rem;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 0% 25%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 0% 50%
    }
}

.img-hover-zoom--slowmo {
    overflow: hidden;

}

.img-hover-zoom--slowmo img {
    transition: transform 1s, filter 1s ease-in-out;
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    filter: grayscale(0%);
    transform: scale(1);
}

input {
    width: 80%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

textarea {
    width: 80%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:800px) {
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}

#container {
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -60%);
    z-index: 100;
}

#container.fin .path-1,
#container.fin .path-2,
#container.fin .path-3 {
    stroke-dashoffset: 0;
}

#container.fin .path-4 {
    stroke-width: 18px;
}

.path {
    fill: none;
    stroke: #12a1ff;
    stroke-width: 18px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.path-1 {
    stroke-dasharray: 1850 2000;
    stroke-dashoffset: 1851;
    transition: 2s linear;
}

.path-2 {
    stroke-dasharray: 260 1000;
    stroke-dashoffset: 261;
    transition: 0.5s linear 2.2s;
}

.path-3 {
    stroke-dasharray: 100 1000;
    stroke-dashoffset: 101;
    transition: 0.3s linear 3s;
}

.path-4 {
    stroke-width: 0;
    transition: 0.2s linear 3.1s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;